:root {
    --color-username: #9595fb;
    --color-chat-button: #6f6fd7;
    --color-chat-button-hover: #5e5ebd;
    --color-scrollbar: #999;
    --color-scrollbar-hover: #777;
    --color-chat-host: #be5be9;
    --color-chat-game: #e63232;
}

@supports (font-variation-settings: normal) {
    .chat-container {
        font-family: InterVariable, sans-serif;
    }
}

.chat-header {
    background-color: var(--color-background-secondary);
    max-width: fit-content;
    margin: 0 auto;
    padding: 2px;
    border-radius: 8px;
}

.player-count {
    background-color: var(--color-background-secondary);
    max-width: fit-content;
    margin: 0 auto;
    padding: 2px;
    border-radius: 8px;
}

.chat-container {
    /* width: 90%; */
    min-width: 400px;
    margin: 0 auto;
    margin-top: 20vh;
    padding: 20px;
    font-family: Inter, sans-serif;
    font-feature-settings: 'liga' 1, 'calt' 1;
    color: var(--color-text);
}

.chat-messages {
    list-style-type: none;
    padding: 0;
    margin-bottom: 20px;
    border: 1px solid var(--color-text-secondary);
    height: 200px;
    overflow-y: scroll;
    border-radius: 8px;
}

.score-list {
    margin-bottom: 20px;
    border: 1px solid var(--color-text-secondary);
    border-radius: 8px;
}

.chat-timestamp {
    font-size: 12px;
    color: var(--color-text-secondary);
    margin-left: 5px;
}

.chat-messages li {
    padding: 10px;
    border-bottom: 1px solid var(--color-text-secondary);
    text-align: left;
}

.chat-messages li:last-child {
    border-bottom: none;
}

.chat-messages li:nth-child(odd) {
    background: var(--color-background-secondary);
}

.chat-form {
    display: flex;
}

.chat-form input {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid var(--color-text-secondary);
    border-radius: 4px;
    background: var(--color-background-secondary);
    color: var(--color-text);
    box-sizing: border-box;
}

.chat-form input:focus {
    outline: none;
    border-color: var(--color-primary);
    border-width: 2px;
}

.chat-form button {
    border: none;
    background: var(--color-chat-button);
    color: var(--color-text);
    font-weight: bold;
    padding: 8px 8px;
    margin: 8px;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
}

.chat-form button:hover {
    background: var(--color-chat-button-hover);
}

.chat-username {
    font-weight: bold;
    color: var(--color-username);
}

.chat-host {
    font-weight: bold;
    color: var(--color-chat-host);
}

.chat-game-message {
    font-weight: bold;
    color: var(--color-chat-game);
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: var(--color-scrollbar);
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--color-scrollbar-hover);
}