.Menu {
    max-height: 80px;
    padding: 0 20px;
    background-color: var(--color-background-secondary);
    color: var(--color-text);
}

.menu-word-header {
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--color-text);
}

.word {
    font-size: 1.5rem;
    font-weight: 800;
    color: var(--drawWord);
    border-radius: 5px;
    border: 5px solid var(--drawWord);
}

#stylepicker-container {
    margin: auto;
    /* background: #020d3a; */
    width: 100%;
    margin-top: 32px;
    padding: 10px;
    text-align: center;
    border-radius: 50px;
    grid-row: 2;
    grid-column: 2;
    margin-bottom: 50px;
}

#stylepicker-container label {
    margin-right: 3px;
    font-size: 110%;
}

#stylepicker-container input {
    vertical-align: middle;
    margin-right: 32px;
}