
:root {
  --color-primary: #3f51b5;
  --color-secondary: #f50057;
  --color-background: #282c34;
  --color-background-secondary: #1a1b1e;
  --color-text: #fff;
  --color-text-secondary: #ddd;
  --color-hyperlink: #61dafb;
  --color-highlight: #cbf4ff;
  --color-border: #ddd;
  --color-error: #ff6b6b;
}

.App {
  text-align: center;
  font-family: Inter, sans-serif;
  font-feature-settings: 'liga' 1, 'calt' 1;
}

body {
  margin: 0;
  background-color: var(--color-background);
}

@supports (font-variation-settings: normal) {
  .App { font-family: InterVariable, sans-serif; }
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--color-text);
}

.errorLabel {
  color: var(--color-error);
  font-size: 18px;
  display: block;
}

a {
  color: var(--color-hyperlink);
  text-decoration: none;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
}

a:hover {
  color: var(--color-highlight);
}
